.shop {
    &__wrapper {
        display: flex; 
        flex-wrap: wrap;
    }  
    a {
        color: #212529;
        &:hover {
            color: #212529;
            text-decoration: none;
        }
    }
}
